.choice__section {
  position: relative;
  padding: 176px 0 99px;
  overflow: hidden;

  &__adventages {
    width: 100%;
    padding-bottom: 48px;
  }

  &__title {
    text-align: center;
  }

  &__people {
    padding-bottom: 24px;
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    text-align: center;
  }

  &__border {
    display: flex;
    justify-content: center;
  }

  &__info {
    display: flex;
    gap: 32px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__preference {
    background-color: var(--primary-white-color);
    border: 2px solid var(--primary-blue-color);
    border-radius: 32px;
    width: 316px;
    max-width: 316px;
    min-height: 181px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    text-align: center;
    padding-bottom: 24px;
  }

  &__icon {
    width: 48px;
    height: 48px;
  }
}

.choice__section::before {
  content: "";
  position: absolute;
  background-image: url("../img/background.svg");
  top: -1px;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: max(1440px, 100%) auto;
  z-index: 0;
}

.choice__section > .container {
  position: relative;
  z-index: 1;
}

.choice__section .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

@media (max-width: 992px) {
  .choice__section__people {
    font-size: 48px;
  }

  .choice__section__info {
    gap: 24px;
  }
  .choice__section__info {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
  .choice__section__preference {
    width: 100%;
    max-width: 316px;
    border-width: 1.5px;
    padding: 24px 16px;
  }
}

@media (max-width: 700px) {
  .choice__section {
    padding: 80px 0 40px;
  }
  .choice__section::before {
    top: -20px;
  }

  .choice__section__people {
    font-size: 32px;
    line-height: 100%;
  }

  .choice__section__info {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .choice__section__preference {
    width: 100%;
    max-width: 316px;
    border-width: 1.5px;
    padding: 24px 16px;
  }
}
