.header {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  &__container {
    height: 106px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 56px;
  }

  &__logo {
    justify-self: start;
  }

  &__logo a {
    font-family: "Play";
    font-weight: 700;
    font-size: 22px;
    line-height: 21px;
    text-decoration: none;
    color: var(--primary-blue-color);
  }
  &__burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;

    color: #011c44;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }

  &__nav {
    display: flex;
    gap: 56px;
  }

  &__link {
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    color: var(--primary-dark-blue-color);
  }

  &__link:hover {
    color: var(--primary-blue-color);
    font-weight: 700;
  }

  &__contact {
    display: flex;
    gap: 32px;
    justify-self: end;
    font-size: 32px;
  }

  .header__icon__link i {
    color: var(--primary-dark-blue-color);
    font-size: 32px;
  }

  .header-icon-outline::before {
    color: transparent;
    -webkit-text-stroke: 1.5px var(--primary-dark-blue-color);
  }
}

.header-sprite {
  color: var(--primary-dark-blue-color);
  fill: currentColor;
  stroke: none;
  stroke-width: 0.2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

// @media (max-width: 900px) {
//   .header__container {
//     grid-template-columns: 1fr auto;
//     grid-template-areas:
//       "logo icons"
//       "nav nav";
//     gap: 24px;
//   }

//   .header__logo {
//     grid-area: logo;
//   }

//   .header__contact {
//     grid-area: icons;
//     justify-content: flex-end;
//   }

//   .header__nav {
//     grid-area: nav;
//     justify-content: center;
//   }
// }

@media (max-width: 900px) {
  .header__container {
    grid-template-columns: 1fr auto;
    grid-template-areas: "logo burger";
    gap: 0;
  }

  .header__burger {
    display: flex;
  }

  .header__nav,
  .header__contact {
    display: none;
  }

  .header {
    backdrop-filter: none;
    background: transparent;
  }
}
