.find__section {
  font-weight: 700;
  text-align: center;
  margin-bottom: 48px;
}

.find__section__us {
  font-size: 64px;
  margin-bottom: 48px;
}

.find__section__connect {
  width: 100%;
  max-width: 1059px;
  margin: 0 auto 96px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "map form";
  gap: 32px;
  align-items: start;
  justify-items: center;
}

.find__section__location {
  grid-area: map;
  display: flex;
  justify-content: center;
}

.find__section__map {
  width: 100%;
  max-width: 605px;
  aspect-ratio: 605 / 481;
  border-radius: 32px;
  border: 0;
}

.find__section__order {
  grid-area: form;
  width: 100%;
  max-width: 423px;
  height: 100%;
  background-image: url(../img/background.png);
  background-color: var(--primary-dark-blue-color);
  border: 2px solid va(--primary-blue-color);
  border-radius: 32px;
  padding: 32px;

  display: flex;
  justify-content: center;
}

.find__section__order__block {
  width: 100%;
  max-width: 310px;
}

.find__section__call {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 32px;
  color: var(--primary-white-color);
}

.find__section__data__order {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.find__section__info {
  width: 100%;
  height: 52px;
  padding: 18px 32px;
  background: transparent;
  border: 2px solid var(--primary-gray-graphite-color);
  border-radius: 32px;
  color: var(--primary-white-color);
}

.find__section__info::placeholder {
  color: var(--primary-white-color);
}

.find__section__info:focus {
  outline: none;
  background-color: var(--primary-gray-graphite-color);
}

.find__section__description {
  font-weight: 400;
  margin-top: 16px;
  font-size: 13px;
  color: var(--primary-gray-graphite-color);
}

.find__section__political {
  text-decoration: underline;
}

.button {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}

@media (max-width: 992px) {
  .find__section__connect {
    grid-template-columns: 1fr;
    grid-template-areas:
      "form"
      "map";
  }

  .find__section__us {
    font-size: 40px;
  }
}

@media (max-width: 360px) {
  .find__section__us {
    font-size: 32px;
  }

  .find__section__call {
    font-size: 20px;
  }
}
