.mobile__menu {
  display: none;
  position: fixed;
  inset: 0;
  background: white;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 1000;
}

.mobile__menu.is-open {
  transform: translateX(0);
}

.mobile__menu__close {
  position: absolute;
  top: 16px;
  right: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.fa-solid::before {
  font-size: 24px;
}

.mobile__logo {
  margin: 16px 0 32px 20px;
}

.mobile__logo a {
  font-weight: 700;
  font-size: 16px;
  line-height: 15px;
  color: var(--primary-blue-color);
  text-decoration: none;
}

.mobile__nav a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 16px 20px;
  gap: 16px;
  width: max-content;
}

.mobile__link {
  font-weight: 400;
  font-size: 14px;
  color: var(--primary-dark-blue-color);
  text-decoration: none;
}
.mobile__link:first-child {
  color: var(--primary-blue-color);
  font-weight: 700;
}

.mobile__contact a {
  margin-left: 20px;
  gap: 23px;
}

.mobile__contact i {
  font-size: 24px;
}

.mobile__icon__link {
  color: var(--primary-dark-blue-color);
}

.mobil__icon__outline {
  color: transparent;
  -webkit-text-stroke: 1.7px var(--primary-dark-blue-color);
}

.mobile-sprite {
  color: var(--primary-dark-blue-color);
  fill: currentColor;
  stroke: none;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.burger-icon {
  width: 24px;
  height: 24px;
  color: var(--primary-white-color);
  fill: currentColor;
  stroke: none;
}

.burger__icon__close {
  width: 24px;
  height: 24px;
  color: var(--primary-dark-blue-color);
  fill: currentColor;
  stroke: none;
}
@media (max-width: 700px) {
  .mobile__menu {
    display: block;
  }
}
